* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font-inter), system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-quicksand), system-ui, sans-serif;
	font-weight: 500;
}
